.gsc-control {
  margin: auto;
  top: 50px;
  bottom: 200px;
  width: 50%;
  padding: 0px;
}

.logo {
  margin: left;
  top: 50px;
  width: 50%;
  padding: 150px;
}

.gsc-control-wrapper-cse {
    width: 40%;
}

