.gsc-control {
  margin: auto;
  top: 50px;
  bottom: 200px;
  width: 50%;
  padding: 0px;
}

.gsc-control-cse, .gsc-control-cse .gsc-table-result {
    width: 550;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.logo {
  margin: left;
  top: 50px;
  width: 50%;
  height: 0;
  padding: 150px;
}

element.style {
    width: 0;
    padding: 0px;
    border: none;
    margin: 0px;
    height: auto;
    outline: none;
}



