.logo2 {
    padding: 14px;
}

.gsc-control-wrapper-cse {
    width: 75%;
}

.logo1 {
    width:;
    height: 240px;
}

.gsc-control-cse.gsc-control-cse-en {
    width: 550px;
}

.text {
   position: relative;
   bottom: 50;
   right: 0;
}
                

